*, html, body {
    margin: 0;
    padding: 0;

    background: gold;
    width: auto;
    height: auto;

}

div {
    text-align: -webkit-center;

    transition: bottom .5s;

}

div:hover {
    transform: rotate(180deg)  ;

}